html {
  visibility:hidden;
}

body {
  color: white;
  background-color: black;
}

a:link{
  color:white;
}
a:hover{
  color:red;
}
a:visited{
  color:lime;
}

h1 {
  margin: 1%;
}
h2 {
  margin: 1%;
}
p {
  margin: 1%;
}

/* Define the main Navigation block */
.myNav {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: gray;
}
/* Remove bullets, margin and padding */
.myNav ul {
  list-style: none;
  padding: 0px;
  margin: 0.5vw;
}
.myNav li {
  font-size:16px;
  font-size:min(4vw,32px);
  margin:0.5vw;
  display: inline;
}
.myNav li a:hover {
  background-color: blue;
}
