html {
  visibility:hidden;
}

body {
  color: white;
  background-color: black;
}

h1 {
  margin: 1%;
}
h2 {
  margin: 1%;
}
p {
  margin: 1%;
}

/* Define the main Navigation block */
.myNav {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: gray;
}
/* Remove bullets, margin and padding */
.myNav ul {
  list-style: none;
  padding: 0px;
  margin: 5px;
}
.myNav li {
  display: inline;
}
/* Define the block styling for the links */
.myNav li a {
  display: inline-block;
  text-align: center;
  padding: 0px 5px;
}

.myNav li a:hover {
  background-color: blue;
}
